/*@font-face {
  font-family: 'Arimo Regular';
  font-style: normal;
  font-weight: 400;
  src: local('Arimo Regular'), local('Arimo-Regular'),
  url('#{$fontPath}arimo-v11-latin-regular.woff2') format('woff2'),
  url('#{$fontPath}arimo-v11-latin-regular.woff') format('woff');
}*/

// ====================================
// Text
$ArimoReg: 'Arimo Regular', Arial, Helvetica, sans-serif;
$font-size-base: 15px;
$line-height-base: 26px;
$general-font-family: $ArimoReg;
$headings-font-family: $ArimoReg;
$font-color-base: $black-color;
$heading-font-color: $primary-color;

html {
  font-size: $font-size-base;
  line-height: $line-height-base;
  font-family: $general-font-family;
  color: $black-color;

  @include tablet {
    //font-size: $font-size-base * 0.8;
  }

  @include desktop {
    //font-size: $font-size-base * 1;
  }
}

p {
  margin-top: 0;
  margin-bottom: 10px;
}

// ====================================
// Links
$link-font-color: $black-color;

a {
  color: $link-font-color;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
    color: $font-color-base;
  }

  &:active,
  &.active {
    font-weight: normal;
    color: $link-font-color;
  }

  &:focus {
    outline: 1px doted $link-font-color;
  }
}

// ====================================
// Heading
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin: 0;
  font-weight: normal;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $primary-color;

  strong {
    font-family: $headings-font-family;
    font-weight: normal;
  }

  em {
    color: $secondary-color;
    font-style: normal;
  }
}

h1,
.h1 {
  margin-bottom: 10px;

}
h2,
.h2 {
  margin-bottom: 22px;
  font-size: 36px;
  line-height: 38px;
  text-transform: uppercase;

  @include tablet {
    margin-bottom: 15px;
    line-height: 40px;
  }
}
h3,
.h3 {
  margin-bottom: 1px;
  font-size: 20px;
  line-height: 24px;
}
h4,
.h4 {
  margin-bottom: 1px;
  font-size: 20px;
  line-height: 24px;
}
.h5,
.h6 {
  margin-bottom: 30px;
}

// ====================================
// Font-sizes
ul {
  @include reset-list();

  li {
    padding-left: 16px;
    font-size: 18px;
    line-height: 30px;
    position: relative;

    &:before {
      content: '•';
      color: $primary-color;
      position: absolute;
      top: 0px;
      left: 1px;
    }
  }
}

// ====================================
// Font-sizes

.fz-13 {
  font-size: 13px !important;
}

.fz-14 {
  font-size: 14px !important;
}

.fz-15 {
  font-size: 15px !important;
}

.fz-16 {
  font-size: 16px !important;
}

.fz-17 {
  font-size: 17px !important;
}

.fz-18 {
  font-size: 18px !important;
}

.fz-20 {
  font-size: 20px !important;
}

.fz-24 {
  font-size: 24px !important;
}

.fz-64 {
  font-size: 64px !important;
}

// ====================================
// Font-aligns
.ta-c {
  text-align: center;
}
.ta-l {
  text-align: left;
}
.ta-r {
  text-align: right;
}

// ====================================
// Colors
.primary-color {
  color: $primary-color;
}

.primary-color {
  color: $secondary-color;
}
